
x64/Debug/Small_DBMS.pdb
x64/Debug/Small_DBMS.exe
Small_DBMS/x64/Debug/vc143.pdb
Small_DBMS/x64/Debug/vc143.idb
Small_DBMS/x64/Debug/Small_DBMS.tlog/Small_DBMS.lastbuildstate
Small_DBMS/x64/Debug/Small_DBMS.tlog/link.write.1.tlog
Small_DBMS/x64/Debug/Small_DBMS.tlog/link.secondary.1.tlog
Small_DBMS/x64/Debug/Small_DBMS.tlog/link.read.1.tlog
Small_DBMS/x64/Debug/Small_DBMS.tlog/link.command.1.tlog
Small_DBMS/x64/Debug/Small_DBMS.tlog/CL.write.1.tlog
Small_DBMS/x64/Debug/Small_DBMS.tlog/CL.read.1.tlog
Small_DBMS/x64/Debug/Small_DBMS.tlog/Cl.items.tlog
Small_DBMS/x64/Debug/Small_DBMS.tlog/CL.command.1.tlog
Small_DBMS/x64/Debug/Small_DBMS.log
Small_DBMS/x64/Debug/Small_DBMS.ilk
Small_DBMS/x64/Debug/Small_DBMS.exe.recipe
Small_DBMS/x64/Debug/main.obj
Small_DBMS.vcxproj.user
Small_DBMS.vcxproj.filters
.vs/Small_DBMS/v17/ipch/AutoPCH/49c7c87c9a733bb2/MAIN.ipch
.vs/Small_DBMS/v17/DocumentLayout.json
.vs/Small_DBMS/v17/Browse.VC.opendb
.vs/Small_DBMS/v17/Browse.VC.db-wal
.vs/Small_DBMS/v17/Browse.VC.db-shm
.vs/Small_DBMS/v17/Browse.VC.db
.vs/Small_DBMS/v17/.suo
.vs/Small_DBMS/FileContentIndex/f0b8c48a-3ce8-4a63-a623-2c25c5dbca43.vsidx
.vs/Small_DBMS/FileContentIndex/c2229914-369e-43b3-9883-22328d83e72c.vsidx
.vs/Small_DBMS/FileContentIndex/10a56740-17c0-492b-8493-ba30896b66d6.vsidx
